body {
    font-family: sans-serif, "Helvetica";
    background-color: lightgray;
}
h1 {
    color: limegreen;
    text-shadow: 1px 2px black;
    font-size: 45px;
    text-align: center;
}

#submitBtn {
    color: white;
    background-color: green;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.deleteBtn {
    background-color: red;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

table {
    border: 1px black;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

table thead tr {
    background-color: limegreen;
    color: white;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid lightgrey;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 4px solid limegreen;
}

.completedTask {
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 100%;
    color: grey;
}

.highImportance {
    color: red;
}

input {
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}
